<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- PARAMETERS -->

    <xacro:property name="chassis_length" value="0.3"/>
    <xacro:property name="chassis_width" value="0.3"/>
    <xacro:property name="chassis_height" value="0.15"/>
    <xacro:property name="wheel_offset_x" value="0.1"/>
    <xacro:property name="wheel_radius" value="0.05"/>
    <xacro:property name="wheel_thickness" value="0.04"/>
    <xacro:property name="wheel_offset_y" value="0.175"/>
    <xacro:property name="caster_wheel_offset_x" value="0.24"/>
    <xacro:property name="caster_wheel_radius" value="0.05"/>
    <xacro:property name="chassis_mass" value="0.5"/>
    <xacro:property name="wheel_mass" value="0.05"/>
    <xacro:property name="caster_wheel_mass" value="0.1"/>
    <xacro:property name="laser_length" value="0.04"/>
    <xacro:property name="laser_radius" value="0.05"/>
    <xacro:property name="laser_mass" value="0.1"/>
    <xacro:property name="laser_update_rate" value="10"/>
    <xacro:property name="laser_samples" value="360"/>
    <xacro:property name="laser_min_angle" value="-3.14"/>
    <xacro:property name="laser_max_angle" value="3.14"/>
    <xacro:property name="laser_min_range" value="0.3"/>
    <xacro:property name="laser_max_range" value="12"/>
    

</robot>